@charset "UTF-8";

body {
    background-color: rgba(0, 0, 17, 0.89);
    margin: 0;
}

.header {
    border-bottom: 2.5px rgb(255, 196, 0) solid;
    border-left: 3px rgb(255, 196, 0) solid;
    border-radius: 0 0 100px 100px;
    padding: 0.5% 15%;
    background-color: rgb(31, 31, 31);
    box-shadow: 0px 0px 15px rgb(26, 26, 26);
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: rgb(0, 119, 255);
    text-align: center;
    font-size: 2.2em;
    text-shadow: 0px 0px 15px rgb(26, 26, 26);
}

h2 {
    color: rgb(0, 119, 255);
    text-align: center;
    font-size: 1.9em;
}

h3 {
    color: rgb(0, 119, 255);
    text-align: center;
    font-size: 1.4em;
}

ul, li {
    color: rgb(255, 252, 246);
    text-align: center;
}

p {
    color: rgb(235, 235, 235);
    text-align: center;
    font-size: 19px;
}

img {
    border: rgb(255, 174, 0) 3px double;
    padding: 4px;
    border-radius: 3%;
    filter: brightness(1.5);
}

div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/* Overlay sobre imagens */
.container {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    border: rgb(0, 0, 0) 3px solid;
    padding: 4px;
    border-radius: 3%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .7s ease;
    background-color: rgb(21, 31, 122);
}

.container:hover .overlay {
    opacity: 0.6;
}
/* Fim do overlay */

footer {
    color: white;
    background-color: rgb(12, 12, 12);
    border-top: solid rgb(255, 196, 0) 2px;
    padding: 20px;
    border-radius: 30px 30px 0 0;
    text-align: center;
    font-size: 1.25em;
}